/* MAIN */
div {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 35px;
}

li {
  list-style: none;
}

p {
  color: white;
  text-align: center;
  line-height: 55px;
  text-transform: none;
  font-size: 20px;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

/* LEFT PANE START */
.left-pane {
  margin-right: 50px;
  margin-top: 100px;
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.score-board-container {
  border: 5px solid #949494;
  border-radius: 5px;
  width: 200px;
  height: 80px;
}

#score {
  font-weight: bold;
  font-size: 22px;
}

.next-piece-container {
  border: 5px solid #949494;
  border-radius: 5px;
  width: 200px;
  height: 180px;
  padding: 1px;
}

.high-score-container {
  border: 5px solid #949494;
  border-radius: 5px;
  width: 200px;
  height: 200px;
}
/* LEFT PANE END */



/* FOOTER START */
.footer-container {
  background-image: url(../assets/stars.gif);
  margin: 20px auto;
  width: 300px;
  height: 50px;
  border: 2px solid grey;
  border-radius: 5px;
}


/* FOOTER END */



/* RIGHT PANE START */
.right-pane {
  margin-left: 50px;
  margin-top: 100px;
  height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.instructions-container {
  border: 5px solid #949494;
  border-radius: 5px;
  width: 200px;
  height: 250px;
}

.links-container {
  border: 5px solid #949494;
  border-radius: 20px;
  margin: 0 auto;
  width: 100px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link-item {
  font-size: 40px;
  margin: 8px;
}

.link-item:hover {
  font-size: 48px;
}

.link-item.github:hover {
  color: #35428A;
}

.link-item.linkedin:hover {
  color: #007bff;
}

.link-item.angellist:hover {
  color: red;
}

#sound-btn {
  border: 5px solid #949494;
  margin: 0 auto;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#sound-btn:hover {
  font-size: 20px;
  cursor: pointer;
}


/* RIGHT PANE END */


/* WEBKIT STUFF */
figure {
  margin: 0;
}

/* credit */
figcaption {
  position: relative;
}

figure.cc-effect p.footer-credit {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

figure:hover p.footer-credit {
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  opacity: 0;
}

/* description */
figure.cc-effect p.footer-description {
  position: absolute;
  top: 0;
  margin-left: 24px;
}

/* this chunk hides the text before hover */
figure.cc-effect p.footer-description {
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  opacity: 0;
}

/* this chunk makes text show in a smooth way */
figure.cc-effect p.footer-description {
  -webkit-transition: opacity 0.75s, -webkit-transform 0.75s;
  transition: opacity 0.75s, -webkit-transform 0.75s;
  transition: opacity 0.75s, transform 0.75s;
  transition: opacity 0.75s, transform 0.75s, -webkit-transform 0.75s;
}

/* this chunk shows the text */
figure.cc-effect:hover p.footer-description {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  color: #fff;
}
