html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  display: flex;
  justify-content: center;
  background-image: url(../assets/tetris.jpg);
}

#tetris {
  background-color: grey;
}

.canvas-container {
  display:block;
  /* margin: 0 auto; */
  margin-top: 100px;
}

.canvas-container > * {
	display:block;
	margin:0 auto;
	border: 5px solid black;
}

.canvas-container > input {
  font-family: Courier;
	font-size: 30px;
	font-weight: bold;
	border: none;
	background-color: #ffffff;
	color: #000000;
  margin: 20px auto;
}

.canvas-container > input:hover {
  background-color: #e4f0f5;
}
