html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, h3, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  background-image: url(../assets/tetris.jpg);
  background-size: cover;
}

#tetris {
  background-color: grey;
}

.mid-pane {
  margin-top: 100px;
  position: relative;
}

.canvas-container {
  display:block;
  border: 5px solid #949494;
  border-radius: 5px;
  width: 300px;
  height: 600px;
}

.canvas-container > input {
  font-family: Courier;
	font-size: 30px;
	font-weight: bold;
	border: none;
	background-color: #ffffff;
	color: #000000;
  margin: 20px auto;
}

.canvas-container > input:hover {
  background-color: #e4f0f5;
}

canvas#next-piece {
  margin: 1px;
}

#scores-form {
  z-index: 1;
  position: absolute;
  top: 300px;
  right: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  display: none;
}

#score-input {
  border: 5px solid #949494;
  border-radius: 5px;
}

#score-submit-btn {
  border: 5px solid #949494;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  margin: 0 auto;
}

#score-submit-btn:hover {
  font-size: 10px;
  cursor: pointer;
}
